# Ignore node_modules in root and backend
node_modules/
back-end/node_modules/

# Ignore package-lock.json in root and backend
package-lock.json
back-end/package-lock.json

# Ignore dev-dist directory
dev-dist/
dist/

.env
